$main-color: #16a596;
$hightlight: #fffdf8;

.otp-model-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;

  .card-header {
    background-color: $main-color;
    color: $hightlight;

    &_icon {
      color: $hightlight;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20%;

    &_label {
      font-size: 24px;
    }
  }
}

.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
