$main-color: #16a596;
$sub-main: #21bcaa;
$hightlight: #fffdf8;

.my-google-map {
  margin: 10px 5px 5px 5px;

  .button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-color: $main-color;
    text-transform: none;

    & span {
      color: $main-color;
    }
  }
}
