.home-page {
  padding-left: 4vw;
  padding-right: 3vw;
}

.pagination {
  margin-top: 2vh;
}

.side-bar {
  display: none;
}

.no_data {
  height: calc(100vh - 84px);

  &_content {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    &__text {
      font-family: sans-serif;
      font-size: 35px;
      font-weight: normal;
      margin: 0 0 50px;
      text-align: center;
      text-shadow: 1px 1px 2px #082b34;
    }
  }
}

@media only screen and (max-width: 600px) {
  .filter-panel {
    display: none;
  }

  .footer-component {
    display: none;
  }

  .side-bar {
    display: block;
  }
}
